body{
    background-color: #b1c3b8;
}

#contact-info{
    background-color: transparent !important;
    border: transparent;
    font-family: 'Manjari', sans-serif;
}
.card{
    background-color: transparent !important;
    border: none;
    margin: 60px auto; 
    
    
}

.card-title{
    font-size: 24px;
    font-family: 'Manjari', sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    padding-left: 50px;
    margin-top: 55px;
}

.card-text{
    font-family: 'Manjari', sans-serif;
    font-size: 32px;
    padding-left: 50px;
    
    
}



img{
    border-radius:50%;
    border-color: black;
    height: 300px !important;
    width: 300px !important;
    border-style: solid;
    
}


.navbar{
    background-color: transparent !important;
}
.nav-link{
    color: black;
    font-family: 'Manjari', sans-serif;
    font-size: 26px;

}
.navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
span{
    font-size: 28px;
}