body{
    background-color: transparent !important;
    border: transparent;
}

#footer{
    background-color: #b1c3b8;
    border: transparent;
    text-align: center;
    padding: none;
    font-family: 'Manjari', sans-serif;
    color: #f9ffed;
    
}

html{
    
    min-height: 100%;
    background-image: url("home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    color: #4d7142;
    font-size: 56px;
    font-weight: bold;
}
h3{
    font-size: 18px;
    color: #4d7142;
    font-weight: bold;
}


#business{
    font-family: 'Manjari', sans-serif;
    background-color: transparent !important;
    border: transparent;
    margin-top: 15%;
    
}


.navbar{
    background-color: transparent !important;
    
}
.nav-link{
    color: black;
    font-family: 'Manjari', sans-serif;
    font-size: 26px;

}
.navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}


#tagline{
    font-family: 'Manjari', sans-serif;
    background-color: transparent !important;
    border: transparent;
    width: 550px;
    text-align: center;
    color: #4d7142;
    margin-top: 240px;
}

/* #quote{
    margin-top: 60%;
    background-color: transparent;
    border: none;
    font-family: 'Manjari', sans-serif;
    color: #4d7142;
    text-align: left;
} */
