body{
   height: 100%;
   position: relative;
}
.btn-green{
    background-color:#4d7142 ;
    color: #f9ffed;
}
.card-footer{
    color: #f9ffed;
}
.card{
    border: none;
}
.card-text{
    font-size: 24px;
    font-family: 'Manjari', sans-serif;
}

.footer{
    background-color: #4d7142;
    text-align: center;
    padding-top: 3px;
    font-family: 'Manjari', sans-serif;
    padding-bottom: none;
    margin-bottom: none;

   
}
#footer-branding-logo{
    height: 50px;
}
.footerLink{
    color: #f9ffed !important;
    font-family: 'Manjari', sans-serif;
    font-size: 26px; 
}
#home-image{
    max-width: 100%;
    height: 500px;
    position: relative;
}
#quotes{
    font-family: 'Manjari', sans-serif;
    color: #4d7142;
    font-size: 24px;
}
#logo{
    position: absolute;
    left: 33%;
}

h3{
    font-size: 24px;
    background-color: !transparent;
    font-weight: bold;
}
h5{
    font-family: 'Manjari', sans-serif;
    font-size: 38px;
    color: #4d7142;
}

.main{
    min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

#navbarNav{
    float: right !important;
}

.navbar-brand{
    
    padding: 0;
    margin: 0;
}


.logo{
    height: 100px;
}
.navLink{
    color: #4d7142;
    font-family: 'Manjari', sans-serif;
    font-size: 26px;
    float: right;

}
.navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}



#tagline{
    font-family: 'Manjari', sans-serif;
    background-color: transparent !important;
    border: transparent;
    /* border-width: 4px;
    border-style: solid;
    border-color: #4d7142; */
    height: 300px;
    text-align: center;
    color: #4d7142;
    top:100px;
    /* position: absolute; */
    padding-bottom: 50px;
    margin-bottom: 100px;
    
}

#services-card{
    margin-top: 50px;
    border: none !important;
}

